<!DOCTYPE html>
<html>
<head>
	<title>LTI Emulator</title>
	<link href="static/reset.css" rel="stylesheet" type="text/css" />
	<link href="static/main.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
	<script src="static/main.js></script>
</head>
<body>
	<div class="emulator_wrapper">
		<h1>LTI Emulator</h1>
		<p>Select an emulator to play:</p>

        <form action="" method="post">
                <button type="submit" name="NES" value="NES">NES</button>
                <button type="submit" name="GameBoy" value="GameBoy">GameBoy</button>
                <button type="submit" name="GameBoy Advance" value="GameBoy Advance">GameBoy Advance</button>
                <button type="submit" name="N64" value="N64">N64</button>
        </form>


	</div>

	<footer>University of Central Florida | Center for Distributed Learning | 2014</footer>
</body>
</html>

Analytics

