<!DOCTYPE html>
<html>
<head>
	<title>LTI Emulator</title>
	<link href="static/reset.css" rel="stylesheet" type="text/css" />
	<link href="static/main.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="emulator_wrapper">
		<h1>LTI Emulator</h1>
		<p>Select an emulator to play:</p>

                <a href="../static/">SNES</a>
		<a href="/nes">NES</a>
                <a href="../static/">GameBoy</a>
                <a href="../static/">GameBoy Advance</a>
                <a href="../static/">N64</a>

	</div>

	<footer>University of Central Florida | Center for Distributed Learning | 2014</footer>
</body>
</html>

Analytics

