<!DOCTYPE html>
<html>
<head>
	<title>LTI Emulator</title>
	<link href="static/reset.css" rel="stylesheet" type="text/css" />
	<link href="static/main.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
	<script src="static/main.js></script>
</head>
<body>
	<div class="emulator_wrapper">
		<h1>LTI Emulator</h1>
		<p>Select an emulator to play:</p>
 		<form action="/chooser" method="post">
	        <button type="submit" name="template" value="syllabus">NES</button>
	        <button type="submit" name="template" value="front-page">GameBoy</button>
	        <button type="submit" name="template" value="course-orientation">GameBoy Advance</button>
        </form>

	</div>

	<footer>University of Central Florida | Center for Distributed Learning | 2014</footer>
</body>
</html>

Analytics

